@use "./variables";

.footer {
  padding         : 7.5rem 7rem;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  background-color: variables.$footerBgColor;

  h3 {
    color      : variables.$fontColor;
    font-size  : variables.$titleFontSize;
    font-weight: variables.$fontBold;
    line-height: 1.5;
  }

  .right {
    width         : 80%;
    display       : flex;
    align-items   : flex-end;
    flex-direction: column;
    gap           : 1.5rem;

    .footer__links {
      display   : flex;
      column-gap: 1.5rem;

      a {
        text-decoration: none;
        font-size      : variables.$normalFontSize;
        font-weight    : variables.$fontBold;
        color          : variables.$fontColor;
        position       : relative;

        &::before {
          content         : "";
          position        : absolute;
          bottom          : -5px;
          left            : 0;
          width           : 0;
          height          : 2px;
          background-color: variables.$fontColor;
          transition      : width .2s ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }

    .social {
      display   : flex;
      column-gap: 1.5rem;

      a {
        color          : variables.$fontColor;
        font-size      : 2rem;
        text-decoration: none;
        text-shadow    : 0px 1px 6px #2c2c2c63;
        transition     : all .3s cubic-bezier(.55, -0.6, .63, 1.84);

        &:hover {
          transform  : scale(1.2);
          text-shadow: none;
        }
      }
    }
  }

  p {
    color      : variables.$fontColor;
    font-size  : variables.$normalFontSize;
    font-weight: variables.$fontBold;
  }
}

@media screen and (max-width: 1490px) {
  .footer {
    padding-inline: 2rem;

    h3 {
      font-size: 1.7rem;
    }

    .right {
      .footer__links {
        a {
          font-size: .8rem;
          color    : #3e3e3e;
        }
      }
    }

    p {
      font-size: .8rem;
    }

    .social {
      i {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
    row-gap       : 2rem;
    padding       : 2rem 0;

    h3 {
      font-size: 1.5rem;
    }

    .right {
      justify-content: center;
      align-items    : center;
    }
  }
}

@media screen and (max-width: 631px) {
  .footer {
    h3 {
      display: none;
    }

    .right {
      width: 100%;

      .footer__links {
        a {
          font-size: .7rem;
        }
      }
    }
  }
}