// header color
$headerBgColor: #ffffff;
$headerBgHoverColor: #d1cdca;
$submenuBgColor: #e8e5e1;
// font color
$fontColor: #141413;
// font size
$normalFontSize: .938rem;
// font weight
$fontBold: 600;

@mixin menuIink ($background-color, $hover-background-color) {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: $fontColor;
  font-weight: $fontBold;
  font-size: $normalFontSize;
  background-color: $background-color;
  transition: background-color .15s ease-in-out;
  padding: 1.25rem 2.5rem;
  gap: .5rem;
  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin doNotDisplay {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-in-out;
}

@mixin showDropdownMenu {
  max-height: 1000px;
  transition: max-height .4s ease-in-out;
}