// header color
$headerBgColor: #ffffff;
$headerBtnHoverColor: #e8e5e1;
$submenuBtnColor: #d1cdca;
// main
$mainBtnColor: #000000;

// font color
$fontColor: #141413;
$SecondaryTextColor: #30302f;
// font size
$titleFontSize: 3rem;
$secondaryTitleSize: 2rem;
$secondaryTextSize: 1.3rem;
$normalFontSize: 0.938rem;
// font weight
$fontBold: 600;

// animation
$animationText: title 1.5s ease-in-out;
@keyframes title {
  0% {
    opacity: 0;
    transform: translate(30%, 0);
  }
  100% {
    opacity: 1;
  }
}


@mixin menuIink ($background-color, $hover-background-color) {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: $fontColor;
  font-weight: $fontBold;
  font-size: $normalFontSize;
  background-color: $background-color;
  transition: background-color .15s ease-in-out;
  padding: 1.25rem 2.5rem;
  gap: .5rem;
  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin doNotDisplay {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-in-out;
}

@mixin showDropdownMenu {
  max-height: 1000px;
  transition: max-height .4s ease-in-out;
}