// color
$headerBgColor      : #ffffff;
$footerBgColor      : #50310056;
$headerBtnHoverColor: #e8e5e1;
$submenuBtnColor    : #d1cdca;
$mainBtnColor       : #000000;
$tagBtnColor        : #dfdcdc;
$tagBtnHoverColor   : #482c00;
// font color
$fontColor          : #141413;
$SecondaryTextColor : #30302f;
$SecondaryTitleColor: #482c00;
// font size
$titleFontSize      : 3rem;
$secondaryTitleSize : 2rem;
$secondaryTextSize  : 1.3rem;
$normalFontSize     : 0.938rem;
// font weight
$fontBold           : 600;

// -------------- animation
$animationTitle: title 1.5s ease-in-out forwards;

@keyframes title {
  0% {
    opacity  : 0;
    transform: translate(30px, 0);
  }

  100% {
    opacity: 1;
  }
}

$animationSecondaryTitle: secondary-title 1.5s ease-in-out forwards;

@keyframes secondary-title {
  0% {
    visibility: hidden; //初始狀態不可見
    opacity   : 0;
    transform : translate(0, 20px);
  }

  100% {
    visibility: visible; //最終狀態可見
    opacity   : 1;
  }
}

$animationItem: item 1.5s ease-in-out forwards;

@keyframes item {
  0% {
    transform : translate(0, 20px);
    opacity   : 0;
    visibility: hidden; //初始狀態不可見
  }

  100% {
    opacity   : 1;
    visibility: visible; //最終狀態可見
  }
}

$animationCard: card 2s ease-in-out forwards;

@keyframes card {
  0% {
    opacity   : 0;
    visibility: hidden; //初始狀態不可見
  }

  100% {
    opacity   : 1;
    visibility: visible; //最終狀態可見
  }
}

$animationArrow: arrow-move 1.2s linear infinite;

@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

// -------------- animation end

// mixin
@mixin menuIink ($background-color, $hover-background-color) {
  display         : flex;
  cursor          : pointer;
  align-items     : center;
  text-decoration : none;
  color           : $fontColor;
  font-weight     : $fontBold;
  font-size       : $normalFontSize;
  background-color: $background-color;
  transition      : background-color .15s ease-in-out;
  padding         : 1.25rem 2.5rem;
  gap             : .5rem;

  &:hover,
  &:focus {
    background-color: $hover-background-color;
  }
}

@mixin doNotDisplay {
  max-height: 0;
  overflow  : hidden;
  transition: max-height .4s ease-in-out;
}

@mixin showDropdownMenu {
  max-height: 1000px;
  transition: max-height .4s ease-in-out;
}

@mixin mainItem ($itemWidth) {
  width           : $itemWidth;
  background-color: #fffbf5;
  padding         : 1.25rem;
  border-radius   : 20px;
  box-shadow      : 0 4px 8px rgba(14, 18, 27, 0.2);
}

@mixin tagBtn {
  padding         : .6rem;
  border          : none;
  border-radius   : 20px;
  background-color: $tagBtnColor;
  text-decoration : none;
  color           : $fontColor;
  font-size       : $normalFontSize;
  font-weight     : $fontBold;
  cursor          : pointer;
  position        : relative;
  overflow        : hidden; // 隱藏超出的部分
  transition      : color .4s ease-in-out;

  &:hover,
  &:focus {
    color: #FFFFFF;
  }

  &::before {
    content         : '';
    position        : absolute;
    left            : -100%;
    top             : 0;
    border-radius   : 50%;
    width           : 100%;
    height          : 100%;
    background-color: $tagBtnHoverColor;
    transition      : all .4s ease-in-out;
    z-index         : 0;
  }

  &:hover::before,
  &:focus::before {
    border-radius: 20px;
    left         : 0;
    z-index      : -1;
  }
}